.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.github/**``
doc/**
vsix/**
*.vsix
node_modules/**
package-lock.json
.DS_Store
**/tsconfig.web.json
tsup.config.desktop.ts
tsup.config.web.ts
vitest.config.ts
